/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
TYPO
--------
*/

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #6a645d;   
}

main .heading h1 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-weight: 400;
}

main .heading p {
    line-height: 1.8em;
}

main .container .box .name {
    font-size: 1.4em;
    font-family: 'Vidaloka', serif;
}

main .container .box .role {
    font-size: 0.8em;
}

/*
--------
COMMON
--------
*/

body {
    background-color: #f5f5f1;
    height: 100vh;
}

/*
--------
MAIN
--------
*/

main {
    padding: 4.375rem 0 2.1875rem;
}

/* Heading */

main .heading {
    max-width: 48rem;
}

main .heading h1 {
    margin-bottom: 1.5625rem;
}

main .heading,
main .container {
    margin: 0 auto;
}

/* Container */

main .container {
    max-width: 71.25rem;
    padding-top: 4.0625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

main .container .box {
    width: calc(100% / 3 - 1.875rem);
    background-color: #fff;
    padding-bottom: 1.875rem;
}

main .container .box img {
    width: 100%;
    margin-bottom: 1.5625rem;
}

main .container .box .name {
    width: 100%;
    margin-bottom: .625rem;
}